<div ui-content-for="title">
  <span>Profil</span>
</div>
      <a class="list-group-item" href="#/GambaranUmum">Gambaran Umum <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/VisiMisi">Visi Dan Misi <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/Aktifitas">Aktifitas <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/StrukturOrganisasi">Struktur Organisasi <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/Personalia">Personalia <i class="fa fa-chevron-right pull-right"></i></a>
      

<!-- <div class="scrollable" ui-shared-state="searchBar">
  <input
    ng-if="Ui.active('searchBar')"
    type="search"
    class="form-control scrollable-header"
    placeholder="Search.." />

  <div class="scrollable-content" ui-scroll-bottom="bottomReached()">
    <div class="list-group">
      <a ng-repeat="item in scrollItems" href="" class="list-group-item">
        {{ item }} <i class="fa fa-chevron-right pull-right"></i>
      </a>
    </div>
  </div>

  <a class="btn btn-block btn-lg btn-primary scrollable-footer" ui-toggle="searchBar">
    <i class="fa fa-search"></i>
    <span ui-hide="searchBar">Show</span>
    <span ui-show="searchBar">Hide</span>
    Search Bar
  </a>
</div> -->
